@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Exo+2');

header{
	width:100%;
	min-height: 60px;
	display:flex;
	flex-flow:row wrap;
	justify-content: space-between;
	align-items:center;
	background: linear-gradient(-45deg, #787da5, rgba(148, 114, 252, 0.5), #787da5, rgba(148, 114, 252, 0.5),#787da5);
	padding:0 15px;
	box-sizing: border-box;
}

nav a{
	width: 100%;
	padding: 5px 0 5px 3px;
	box-sizing: border-box;
	text-decoration: none;
	color:#25272a;
	font-size:22px;
	font-family: 'Exo 2', sans-serif;
	transition: 0.5s;
}

nav a:hover{
	background: #d2e4f1;
}

#nav-panel{
	display:none;	
	position: absolute;
	background: #cabfff;
	left: 0px;
	top: 60px;
	width: 200px;
	flex-direction:column;
}

.but-nav{
	color: #ffffff;
	padding: 10px;
	border: 1px outset #fff;
	transition: 0.5s;
	text-decoration: none;
}

.but-nav:hover{
	background: rgba(0, 0, 0, .4);
}

.left-panel{
	display: flex;
	align-items: center;
}

.userName{
	margin-right: 5px;
	color: #151515;
	font-weight: 600;
	font-size: 18px
}

.brand{
	text-decoration: none;
	margin-left: 10px;
	font-family: 'Abril Fatface', cursive;
	font-size: 28px;
	color:#fff;
	transition: 0.5s;
	text-shadow: 1px 1px #732372, 1px -1px #732372, -1px 1px #732372, -1px -1px #732372, 3px 3px 6px rgba(0,0,0,.5);
}

.brand:hover{
	color:#999;
}
