@import url('https://fonts.googleapis.com/css?family=Lobster');
body{
	position: relative;
	font-size: 14px;
	font-family: Times New Roman, Sherif;
	color: #141414;
	background: #c0c7cb;
}

.window{
	max-width: 1200px;
}

.site{
	background: #999;
	position: relative;
	z-index: 10;
}


.page-header{
	height: 50px;
}

h1{
	color: #2c3046;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin: 0;
	padding: 0;
	margin: 20px;
}

a{
	text-decoration: none;
	font-size: 22px;
	font-weight:600;
	color: #62678a;
}

header{
	min-height: 60px;
	background: linear-gradient(-45deg, #787da5, rgba(148, 114, 252, 0.5), #787da5, rgba(148, 114, 252, 0.5),#787da5);
	padding:5px;
}

.userName, footer{
	font-weight:600;
	font-family: Times New Roman, Sherif;
	font-size: 18px;
	color: #eaf2ff;
}

footer{
	min-height: 50px;
	background: linear-gradient(-45deg, #787da5, rgba(148, 114, 252, 0.5), #787da5, rgba(148, 114, 252, 0.5),#787da5);
	padding:15px;
	
}

.brand{
	text-decoration: none;
	font-family: 'Abril Fatface', cursive;
	font-size: 28px;
	color:#fff;
	transition: 0.5s;
	text-shadow: 1px 1px #732372, 1px -1px #732372, -1px 1px #732372, -1px -1px #732372, 3px 3px 6px rgba(0,0,0,.5);
}

.space-content{
	background: #fffcf6;
}

.content{
	padding: 20px;
}

.nav-wrap{
	position: absolute;
}

.curtain{
	display: none;
	position: absolute;
	z-index: 15;
	width: 100%;
	height: inherit;
}

.nav-panel{
	display: none;
	position: relative;
	margin: 0 auto;
	min-width: 240px;
	border-radius: 5px; 
	background: linear-gradient(to top,rgba(154, 191, 255, 0.9) 20%, 
		rgb(255, 255, 255) 80%, rgb(135, 129, 183) 99%);
	z-index: 20;
}

.nav-panel > nav{	padding-top: 15px; }
.nav-panel > nav > a{ padding: 8px 12px; }
.nav-panel > nav > a:hover{ background: #f4f6ff; }
.nav-panel > nav > a:not(:last-child){	border-bottom: 1px groove #ddd; }

