@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Exo+2');
.but-nav{
	color: #ffffff;
	padding: 10px;
	border: 2px outset #fff;
	transition: 0.5s;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px;
	background: #4a4496;
}

.but-nav:hover{
	background: rgba(0, 0, 0, .4);
}

